.v1
 {
    font-size: 100px;
    color: blue;
    font-family: "Times New Roman", Times, serif;
  }

    .name{
        color:black;
    }
    .name:hover{
        text-shadow: 2px 2px #FF0000;
        border-style: solid;
  border-color: coral;
    
    }

    .speech{
        color:black;
    
    }
    .stage-direction{
        background-color: lightblue;
        color:rgb(46, 43, 219);
    }
    .stage-direction:hover{
        background-color: green;
        color:white;
    }
.COUNTESS {
    color:blue;
}
.LAFEU{
    color:steelblue;
}
.BERTRAM{
    color:teal;
}
.HELENA{
    color:yellow;
}
.PAROLLES{
    color:greenyellow;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 5px solid hotpink;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:goldenrod;
  }